/* https://css-tricks.com/snippets/css/complete-guide-grid/ */

/* MOBILE LAYOUT */

body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "header header header"
        "main   main   nav"
        "main   main   ."
        "main   main   aside"
        "footer footer footer";
    margin-top: 5%;
    padding: 3%;
}

header{
    grid-area: header;
    /* background-color: red; */
}
main{
    grid-area: main;
    /* background-color: blue; */
}
nav{
    grid-area: nav;
    /* background-color: green; */
}
aside{
    grid-area: aside;
    /* background-color: yellow; */
}
footer{
    grid-area: footer;
    /* background-color: purple; */
}

img{
    width: 100%;
}

figure{
    margin-top: 10%;
}

nav, aside, nav ul :not(:first-child){
    margin-left: 5%;
}

@media (min-width:1025px){
    body{
        grid-template-columns: 1fr 1fr 1fr .25fr 1fr;
        grid-template-areas: 
            "header header header header header"
            "main   main   main   ...... nav"
            "main   main   main   ...... ."
            "main   main   main   ...... aside"
            "footer footer footer footer footer";
    }

    .fig-container, .two-col-text{
        /* background-color: red; */
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .fig-container figure{
        width: 30%;
    }

    .two-col-text p{
        width: 48%;
    }

    p{
        margin-top: 2.5%;
    }
}