/* LAYOUT - MOBILE */

body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* The key difference between mobile and desktop layout will be the use of whitespace between the main and the nav/aside */
    grid-template-areas:
        "header header header"
        "main   main   nav"
        "main   main   ."
        "main   main   aside"
        "footer footer footer";
    margin-top: 5%;
    padding: 3%;
}

header{
    grid-area: header;
    margin-bottom: 5%;
}

main{
    grid-area: main;
}

nav{
    grid-area: nav;
}

aside{
    grid-area: aside;
}

footer{
    grid-area: footer;
    margin-top: 5%;
}

img{
    width: 100%;
}

@media (min-width:1025px) {
    body{
        grid-template-columns: 1fr 1fr 1fr .25fr 1fr;
            grid-template-areas:
            /* You can use extra spaces and periods to control the template's layout in the editor and make use of multicursor and vertical selection. Handy!! */
                "header header header header header"
                "main   main   main   ...... nav"
                "main   main   main   ...... ."
                "main   main   main   ...... aside"
                "footer footer footer footer footer";
    }

    .fig-container{
        display:flex;
        width:100%;
        flex-wrap: wrap;
        justify-content:space-evenly;
    }

    .fig-container figure{
        width: 30%;
    }
}