html{
    background-color: var(--off-white);
}

header{
    background-image: url("../images/751px-VanGogh-starry_night_ballance1.jpg");
    background-repeat: no-repeat;
    background-size: 115%;
    background-position: 70% 5%;
    width: 100%;
    height: 15vh;
    
}

nav{
    margin-top: 5%;
    padding: 5%;
    border: var(--van-gogh-brown) 10px solid;
}

aside figure img{
    border-radius: 50%;
    border: var(--van-gogh-brown) dashed 3px;
}

@media (min-width:1025px){
    header{
        height: 50vh;
    }
}