html{
    background-color: #DCF2F0;
}

header{
    background-image: url("../images/751px-VanGogh-starry_night_ballance1.jpg");
    background-repeat: no-repeat;
    background-size: 115%;
    background-position: 70% 5%;
    width: 100%;
    height: 15vh;
}

aside figure img{
    border-radius: 50%;
    border: #592202 dashed 3px;
}

@media (min-width:1025px){
    header{
        height: 50vh;
    }
}