html{
    background-color: #FFE2A8;
}

header{
    /* background-image: url("../images/751px-VanGogh-starry_night_ballance1.jpg"); */
    background-color: red;
    background-repeat: no-repeat;
    background-size: 115%;
    background-position: 70% 5%;
    width: 100%;
    height: 50vh;
    /* background-color: red; */
}

article{
    background-color: #fffaf0;
}
/* .vinny{
    color: red;
} */