@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');

body{
    color: #592B02;
    font-family: 'Open Sans Condensed', sans-serif;
    line-height: 1.6;
    font-weight: 300;
}

strong{
    font-weight: 700;
}

em{
    font-style: italic;
}

p{
    margin-top: 5%;
}

ul{
    margin-top: 10%;
}

h3{
    font-size: 2em;
}

h2{
    font-size: 3em;
    margin-top: 5em;
}

h1{
    font-size: 4em;
    width:100%;
    height:100%;
    text-align: center;
    color: #D9B64E;
    background-color: rgba(0, 0, 0, 0.6);
}

h1, h2{
    font-family: 'Comforter', cursive;
}

a{
    color: #048ABF;
}

a:hover{
    color: #D9933D;
}

@media (min-width:1025px) {
    body{
        font-size: 1.3em;
    }
    h1{
        font-size: 12em;
    }
    header p{
        font-size: .75em;
        margin-top: 0;
    }
}