@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');

body{
    color: var(--van-gogh-brown);
    font-family: 'Open Sans Condensed', sans-serif;
    line-height: 1.6;
    word-spacing: .1em;
}

strong{
    font-weight: 700;
}

em{
    font-style: italic;
}

h3, aside h2{
    font-size: 2em;
    margin-top: 1.7em;
}

h2{
    font-size: 3em;
    margin-top: 5em;
}

h1{
    font-size: 4em;
    text-align: center;
    color: var(--van-gogh-pale-yellow);
    height: 100%;
    width: 100%;
    background-color: var(--transparent-black);
}

h1, h2, aside h2{
    font-family: 'Comforter', cursive;
}

p{
    margin-top: 2em;
}

ul{
    margin-top: 1em;
}

figcaption p, header p{
    margin-top: 0;
}

a{
    color: var(--van-gogh-blue);
}

a:hover{
    color: var(--van-gogh-gold);
}

@media (min-width:1025px){
    body{
        font-size: 1.3em;
    }
    h1{
        font-size: 10em;
    }
    header p{
        margin-top: 0;
    }
}