:root {
    --van-gogh-brown: #592202;
    --van-gogh-blue: #035372;
    --van-gogh-pale-yellow: #D9B64E;
    --van-gogh-gold: #D9933D;
    --transparent-black: rgba(0,0,0, 0.6);
    --off-white: #DCF2F0;
    }